<a href="https://colab.research.google.com/github/srimantapal205/pythonPracticeCode/blob/main/Python_Learn_2025/PythonLearn_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
#print input using comas
name = 'Xyz'
age = 30
print("My Name is", name, " and I am  ", age, " years old")

My Name is Xyz  and I am   30  years old

In [3]:
#Print with string concatenation(+)
print("My Name is " + name + " and I am " + str(age) + " years old")

My Name is Xyz and I am 30 years old

In [4]:
# F-String it's applicable in Python 3.6+ version
print(f"My name is {name} and I am {age} years old")

My name is Xyz and I am 30 years old

Write a Python program that displays a sentence.
1.   Use the print function to output the following text exactly as it is: "Learning Python is fun!"
2.   Ensure that your output matches the expected text including punctuation and capitalization.

In [5]:
txt = "Learning Python is fun!"
print(txt)

Learning Python is fun!

Write a Python program to join two strings:
"Python" and "Programming".
* Ensure the two words are separated by a space in the output.
* Display the concatenated string using the print function.

In [6]:
s1 = "Python"
s2 = "Programming"

print(s1,s2)
print(s1+' '+s2)
print(f'{s1} {s2}')

Python Programming
Python Programming
Python Programming

Write a Python program that prints the following three lines as separate lines in the output:

```
Coding is exciting.
Python makes it more so.
Let's keep learning!
```

In [7]:
l1 = "Coding is exciting."
l2 = "Python makes it more so."
l3 = "Let's keep learning!"

print(f"{l1}\n{l2}\n{l3}")

Coding is exciting.
Python makes it more so.
Let's keep learning!

In [8]:
name = "Python"
year = 2023

print(f'{name} was very popular in {year}')

Python was very popular in 2023

# input() function

In [10]:
# Display a custom prompt to guide user by passing a string argument to the input() function:
name = input("Please Enter Your Name:: ")
age = int(input('Plesae you age: '))
print(f"Hello, {name}! you are {age} years old")

Please Enter Your Name:: dsdsa1
Plesae you age: 12
Hello, dsdsa1! you are 12 years old

### Exercises
+ Write a Python program that prompts the user for their name using the input function.
+ Store the user's input in a variable.
+ Use an f-string to include the user's name in a greeting message and print it,

e.g., "Hello, [name]!" where [name] is replaced by the user's input.

In [ ]:
name = input("Please enter your name:")
print(f"Hello, {name}!")

### Challenge: Your Superhero Name
Your goal is to create a program that generates a personalized superhero name by prompting the user for two pieces of
information:
* The first adjective found on the 13th page of the book closest to them.
* Something that scares them (ideally, a noun). ðŸ˜±
* Using the print and input functions, combine the two inputs into a single superhero name and display it to the
user.

In [11]:
# First an adjective
adjective  = input('Find The first adjective in the 13th page of the book :: ')
noun = input('Enter Something that scares you :: ')
# display the super hero name
print(f'Your superhero name is {adjective}-{noun}')

Find The first adjective in the 13th page of the book :: 12312csdfsd
Enter Something that scares you :: wed
Your superhero name is 12312csdfsd-wed

### Variable

In [ ]:
#Checking Varible

Variable Type Double Conversion:
* Begin by declaring a variable named original_float and assign it the value 9.99.
* Convert original_float to an integer and store this value in a new variable named converted_integer.
* Now, convert converted_integer back into a float and store this in a variable named converted_back_float.
* Finally, print the values of original_float, converted_integer, and converted_back_float in this order, each on a new line.

In [12]:
original_float = 9.99
converted_integer = int(original_float)
converted_back_float = float(converted_integer)

print(f"{original_float}\n{converted_integer}\n{converted_back_float}")

9.99
9
9.0

## Arithmetic Operators

In [13]:
# Declear varible assign value
x = 10
y = 5

In [14]:
#Addition(+)
result = x + y
print(result)

15

In [15]:
# Substraction(-)
result = x-y
print(result)

5

In [16]:
#Multiplication(*)
result = x*y
print(result)

50

In [17]:
# Division(/)
result = x / y
print(result)

2.0

In [18]:
# Modules(%)
result = x % y
print(result)

0

In [19]:
#Exponention(**)
result = x**y
print(result)

100000

In [20]:
# Floor Division
result = x // y
print(result)

2

In [22]:
#Compund assignment operators (+=, -=, *=, /=, **=, //=):
x += 3
print(x)

13

In [23]:
x = x+3
print(x)

16

### Exercises
* Examine the provided code where two numbers are defined (number1 and number2).
* Compute and display the results of addition, subtraction, multiplication, and division.

In [24]:
number1 = 10
number2 = 2

In [25]:
 # addition, subtraction, multiplication, and division.

addition = number1 + number2
subtraction = number1 - number2
multiplication = number1 * number2
division = number1 / number2

print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"multiplication{multiplication}")
print(f"division: {division}")

Addition: 12
Subtraction: 8
multiplication20
division: 5.0

Imagine you are planning to start your own small business in 5 years and are looking at various saving strategies.

One of the options you're considering is a savings account that offers compound interest.

You have an initial amount of $1,000 to start with.

The bank offers an annual interest rate of 4%, compounded quarterly.

You want to calculate how much your initial investment will grow in 5 years under these conditions to help decide if this savings account is a good option for funding your business venture.

Provide the output as an integer.

In [26]:
amount = 1000
rate = 0.04
years = 5
compounded = 4

# A = P(1 + R/400)4t

# Calculate the compound value
accumulated_amount = int(amount * ((1 + rate / compounded) ** (years * compounded)))

print(f"The accumulated amount after {years} years is ${accumulated_amount}")

The accumulated amount after 5 years is $1220

## Python Comparison Operators

* Equal(==)
* Not Equal(!=)
* Greater Than (>)
* Less Than (<)
* Greater Than Equal to (>=)
* Less Than Equal to (<=)